<div class="input-group mb-3">
  <input [(ngModel)]="searchString"><button (click)="filter()">Ieškoti</button>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nr.</th>
      <th scope="col">Užsakovas</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of pagination.pageLines" (click)="onClick(order)">
      <td><a routerLink="/orders/{{order.id}}">{{order.id}}</a></td>
      <td>{{order.customerName}}</td>
      <td>{{order.date}}</td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let page of pagination.allPages" (click)="changeRoute(page)" [ngClass]="{'active' : currentPageNumber==page}">
      <a class="page-link">{{page}}</a>
    </li>
  </ul>
</nav>
