<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    {{ title }}, kuri laukia jūsų visą parą!
</div>

<nav>
  <a routerLink="/">Pagrindinis</a>
  <a routerLink="/products">Kepiniai</a>
  <a routerLink="/orders">Užsakymai</a>
</nav>
<router-outlet></router-outlet>

<!--//<app-product-list></app-product-list>-->
<!--<h2>Mūsų skanumynai: </h2>

<app-categories></app-categories>
<app-products></app-products>-->


<!--<table class="table">
  <tr *ngFor="let category of categories">
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>-->
    <!--<td>
      <img [src]="category.img">
    </td>-->
  <!--</tr>
</table>-->



